{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="bg-home p-0 m-0">
   <div class="row top-navbar-space p-0 m-0"></div>
   <div class="container">
      <div class="row my-auto">
         <div class="col-12 mt-5 text-center">
            <div class="d-flex justify-content-center align-items-center rounded-3 w-100 ad-container">
               <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>
         </div>
         <div class="col-6 mt-5 mx-0 pe-1 text-center">
            <div class="d-flex justify-content-center align-items-center rounded-3 w-100 ad-container me-0 me-sm-1">
               <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>
         </div>
         <div class="col-6 mt-5 mx-0 text-center">
            <div class="d-flex justify-content-center align-items-center rounded-3 w-100 ad-container ms-0 ms-sm-1">
               <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}