h1 {
    color: rgb(26, 133, 228);
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#footer {
    background-color: rgba(0, 0, 0, 0.9);
    --bs-gutter-x: none;
    color: white;
}

.icon,
.light-font {
    color: white;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.navbar-brand:active,
.navbar-brand:focus,
.nav-link:focus,
.nav-link.active,
.light-font:hover {
    color: white !important;
}

/* ----- Navbar ----- */
.top-navbar-space {
    height: 15%;
}

.custom-navbar {
    min-height: 15vh;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.text-bg-custom {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

/* ----- Footer ----- */
.footer-arrow {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100px;
}
