<div class="container d-none d-lg-block">
    <div class="row mb-0 w-100">
        <div class="col-6 text-center">
            <ul class="nav justify-content-center">
                <li class="nav-item nav-inline-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link"
                        href="#" id="all-prodcut-links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="all-prodcut-links">
                        <li><a class="dropdown-item" href="#">By Price</a></li>
                        <li><a class="dropdown-item" href="#">By Rating</a></li>
                        <li><a class="dropdown-item" href="#">By Category</a></li>
                        <li><a class="dropdown-item" href="#">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-inline-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link"
                        href="#" id="books-category-links" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Books
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="books-category-links">
                        <li><a class="dropdown-item" href="#" title="Adventure">Adventure</a></li>
                        <li><a class="dropdown-item" href="#" title="Business">Business</a></li>
                        <li><a class="dropdown-item" href="#" title="Children">Children</a></li>
                        <li><a class="dropdown-item" href="#" title="Crime">Crime</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none active text-uppercase icon header-link"
                        href="#" id="comic-books-links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comics
                    </a>
                    <ul class="dropdown-menu mb-3" aria-labelledby="comic-books-links">
                        <li><a class="dropdown-item" href="#" title="Marver Universe">Marvel</a>
                        </li>
                        <li><a class="dropdown-item" href="#" title="DC Universe">DC</a>
                        </li>
                        <li><a class="dropdown-item" href="#" title="All Comic Books">All Comics</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-center flex-grow-1 search-box-container">
                    <form action="{% url 'products' %}" method="GET" class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q"
                                placeholder="Search our library" aria-label="Search" id="page-search-box">
                            <button class="btn btn-outline-secondary" type="submit" id="search-query"
                                aria-label="Search product">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
