{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <!-- jquery link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Fontawesome -->
    <script rel="dns-prefetch" src="https://kit.fontawesome.com/d46864ea4e.js" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Hello, world! {% block extra_title %}{% endblock %}</title>
</head>

<body class="container-fluid">

    <header>
        {% include 'includes/navbar.html' %}
    </header>

    {% block page_header %}
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer class="fixed-bottom">

        <div class="row m-0 p-0">
            <div class="col-12 text-center">
                <span class="text-center fs-5 footer-arrow arrow-up p-3 d-inline-block">
                    <i class="fa-solid fa-angles-up fa-2xl"></i>
                </span>
                <span class="text-center fs-5 footer-arrow p-3 arrow-down d-none d-inline-block">
                    <i class="fa-solid fa-angles-down fa-2xl"></i>
                </span>
            </div>
        </div>
        {% include 'includes/footer.html' %}

    </footer>

    {% block postload_js %}
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

</body>

</html>